!!! 5
html
    head
        meta(charset='UTF-8')
        meta(name='description', content='Reddit Pipeline is the fast, mouse-free way to browse image subreddits.')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

        meta(property='fb:admins', content='1471184996')
        meta(property='fb:app_id', content='510514888967929')
        meta(property='og:url', content='http://reddpipe.com/')
        meta(property='og:title', content='Reddit Pipeline')
        meta(property='og:image', content="#{basePath}/images/icon.jpg")
        meta(property='og:type', content='website')
        meta(property='og:description', content='The fast, mouse-free way to browse image subreddits.')

        title Reddit Pipeline

        link(rel='shortcut icon', href="#{basePath}/images/favicon.ico")
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Serif')

        if process.env.NODE_ENV === 'production'
            link(rel='stylesheet', href="#{basePath}/css/compiled.css")
        else
            link(rel='stylesheet', href="#{basePath}/css/base.css")
            link(rel='stylesheet', href="#{basePath}/css/skeleton.css")
            link(rel='stylesheet', href="#{basePath}/css/layout.css")
            link(rel='stylesheet', href="#{basePath}/css/pipeline.css")

        block stylesheets
        block scripts
        script(src='//connect.facebook.net/en_US/all.js#xfbml=1&appId=510514888967929')
        script(src="#{basePath}/js/analytics.js")

    body
        #fb-root
        block content
