extends layout

block scripts
    script
        var app = {
            basePath: '#{basePath}',
            topImage: !{topImage}
        };
    if process.env.NODE_ENV === 'production'
        script(src="#{basePath}/js/pipeline.js")
    else
        script(data-main="#{basePath}/js/src/pipeline.js", src="#{basePath}/js/require.js")

block content
    #header
        #logo-bar
            .container
                .ten.columns.alpha
                    h1.title Reddit Pipeline
                    h2.description The fast, mouse-free way to browse image subreddits.
                .six.columns.omega
                    div.fb-like(data-href="http://facebook.com/reddpipe",
                        data-send="false",
                        data-layout="button_count",
                        data-width="450",
                        data-show-faces="false",
                        data-font="verdana")

        .container
            .settings.row
                .eleven.columns.alpha
                    input(id='enable-hotkeys', type='checkbox', checked='checked')
                    label(for='enable-hotkeys')
                        | enable hotkeys
                    span.brackets
                        a(id="configure-hotkeys", href='javascript: void(0)') ?

                    #configure-area-wrap
                        #configure-area
                            .setting
                                h5.title Navigate
                                .keys
                                    kbd ←
                                    kbd →
                                    kbd A
                                    kbd D

                            .setting
                                h5.title Highlight URL
                                .keys
                                    kbd V

                            .setting
                                h5.title Maximize image
                                .keys
                                    kbd C

    .container
        .top.row
            .eleven.columns.alpha
                a(href="", target="_blank")
                    img(class="scale-with-grid feature", alt="Top image", src="")
            .five.columns.omega
                .info
                    h4.title Most Pipelined
                    ul.most-pipelined
                        -each pair in hits
                            - subreddit = pair[0]
                            - count = pair[1]
                            li
                                a(href="#{basePath}/r/#{subreddit}") #{subreddit}
                                span
                                    | #{count}
                    form.search
                        .subreddit-wrap
                            input.subreddit(type='text', placeholder='Search subreddits')
                        input(type='submit', value='Search')

        #pipeline
