extends layout

block scripts
    script var basePath='#{basePath}';
    if process.env.NODE_ENV === 'production'
        script(src="#{basePath}/js/pipeline.js")
    else
        script(data-main="#{basePath}/js/src/pipeline.js", src="#{basePath}/js/require.js")

block content
    #header
        .container
            h1.title Reddit 
                strong Pipeline
            h2.description The fast, mouse-free way to browse image subreddits.
    
    .container
        .top.row
            .eleven.columns.alpha
                // span.top-image-title top image
                img(class="scale-with-grid feature", src="http://placekitten.com/700/400")
            .five.columns.omega
                .info
                    h3 Most Pipelined
                    ul.most-pipelined
                        -each pair in hits
                            - subreddit = pair[0]
                            - count = pair[1]
                            li 
                                a(href="#{basePath}/r/#{subreddit}") #{subreddit}
                                span 
                                    | #{count}

                    form.search
                        .subreddit-wrap
                            input.subreddit(type='text', placeholder='Search subreddits')
                        input(type='submit', value='Search')

        #pipeline
